.card {
  margin-top: 2px;
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--black-light);
}

.card:focus {
  background-color: var(--grey);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  border: 1px solid var(black-light);
}
