.header {
  background: var(--black-light);
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 10px 16px;
  border-left: 1px solid var(--grey);
}

.sidebar {
  grid-template-columns: 1fr 48px;
}

.glass {
  cursor: pointer;
  justify-self: center;
}

.newChat {
  cursor: pointer;
  justify-self: center;
}

.option {
  cursor: pointer;
  justify-self: center;
}
