.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 87.7vh;
  width: 100%;
  background-image: url(../../../helpers/imgs/cover.jpg);
  background-size: 100%;
  border-left: 1px solid var(--grey);
  overflow-y: auto;
}
